/* basic CSS reset */
*{
    margin: 0;
    box-sizing: border-box;
}

/* grid container */
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* whole page body styles */
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #1E1C24;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('Josefin_Sans/static/JosefinSans-Regular.ttf') format('truetype');
}

p {
    line-height: 24px;
}


/* header styles */
header {
    background-color: #1E1C24;
    color: #E1E1E1;
    padding: 20px 0px 0px 0px;
}

header a, .work-grid a, .see-details a {
    text-decoration: none;
    color: #E1E1E1;
}

.header-divider {
    height: 3px;
    background-color: #FFAF82;
    margin-top: 10px;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* navigation links styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

h3.outline {
    color: transparent;
    -webkit-text-stroke: 0.2px #E1E1E1;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links a {
    transition: color 0.3s;
    padding: 0 10px;
}

.nav-links a:not(.work-link):hover, .accessibility:hover {
    color: #96B194;
}

.nav-links{
    align-items: center;
    justify-content: space-between;
}

.nav-links a.active {
    text-decoration: underline;
}

.nav-social-media {
    display: flex;
}

.nav-social-media a {
    margin-right: 10px;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-right: 40px;
}

.accessibility {
    display: flex;
    align-items: center;
}

.accessibility img {
    margin-left: 10px;
}

.work-button {
    background-color: #96B194;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 40px;
    width: fit-content;
}

.work-button a {
    color: #1E1C24;
    display: inline-block;
    margin: 0;
}

.work-button:hover {
    background-color: #FFAF82;
}


/* article styles */
article {
    color: #E1E1E1;
    padding: 120px 0 0 0;
}

.article-content {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.miranda-text {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.miranda-text h1 {
    margin: 0;
    font-size: 80px;
    font-weight: bold;
}

.miranda-text h1.outline {
    text-align: left;
    /*-webkit-text-stroke: 1px #E1E1E1;
    color: transparent; */
    color: #96B194;
    -webkit-text-stroke: 0.1px #E1E1E1;
    -webkit-text-fill-color: transparent;
    text-shadow:
        4px 4px 0 #96B194, 
        4px 4px 0 #96B194, 
        4px 4px 0 #96B194, 
        4px 4px 0 #96B194; 
}

.miranda-text h1.outline:hover {
    -webkit-text-stroke: 1px #96B194;
}

.article-content.img {
    display: block;
    margin: 20px 0;
    max-width: 100%;
}

/* .portrait-outline {
    position: absolute;
    top: 90px;
    left: 600px;
    width: 505px;
    height: 475px;
    border: 7px solid #FFAF82;
    z-index: 1;
}*/

.tagline {
    text-align: right;
    margin-top: 30px;
}

.tagline h4 {
    margin-top: 10px;
}

.tagline-green span {
    color:#96B194;
}

.first-green-spacer {
    width: 100%;
    height: 80px;
    background-color: #96B194;
    padding: 0;
}

/* work styles */
.home-title {
    color: #FFAF82;
    text-align: center;
    margin: 50px 0 20px 0;
}

.work-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-item {
    margin: 10px;
}

.see-details {
    text-align: center;
    margin: 20px;
}

.see-details a:hover {
    color: #FFAF82;
}

/* about styles */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.about-content {
    display: flex;
    align-items: flex-start;
}

.green-rectangle {
    background-color: #96B194;
    width: 100px;
    height: 480px;
    margin-left: 0;
}

.about-columns {
    display: flex;
}

.about-portrait {
    margin: 0 50px 0 50px;
}

.about-description {
    margin: 20px 0 80px 0;
    margin-right: 50px;
}

.about-description p {
    margin-bottom: 20px;
}

.about-description span {
    color: #FFAF82;
}

.work-button {
    display: flex;
    justify-content: center;
}

.work-button a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* footer styles */
footer {
    padding: 0;
}

.footer-info {
    background-color: #96B194;
    display: flex;
    justify-content: space-between;
    padding: 80px 50px;
}

.footer-info > div {
    flex: 2;
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    color: #1E1C24;
}

.footer-info ul, .footer-info ol, .footer-social-media li {
    list-style-type: none;
    padding-left: 0;
}

.creator {
    background-color: #FFAF82;
    max-height: 85px;
    padding: 50px 25px;
    text-align: center;
}

/* styles */