/* basic CSS reset */
*{
    margin: 0;
    box-sizing: border-box;
}

/* grid container */
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* whole page body styles */
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #1E1C24;
}


/* header styles */
header {
    background-color: #1E1C24;
    color: #E1E1E1;
    padding: 20px 25px 0px 25px;
}

header a {
    text-decoration: none;
    color: #E1E1E1;
}

/* navigation links styles */
nav {
    display: flex;
    justify-content: space-between
}

.nav-links a {
    transition: color 0.3s;
}

.nav-links a:hover, .accessibility:hover {
    color: #96B194;
}

.nav-links a.active {
    text-decoration: underline;
}

.nav-social-media {
    display: flex;
}

.nav-social-media a {
    margin-right: 10px;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-right: 10px;
}

.accessibility {
    display: flex;
    align-items: center;
}

.accessibility img {
    margin-left: 10px;
}


/* article styles */
article{
    color: #E1E1E1;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article.content {
    position: relative;
}

h1 {
    margin: 0;
    font-size: 80px;
}

h1.outline {
    font-size: 80px;
    text-align: left;
    -webkit-text-stroke: 2px #E1E1E1;
    color: transparent;
}

.article-content.img {
    display: block;
    margin: 20px 0;
}

/*.portrait-outline {
    position: absolute;
    top: 80px;
    left: 400px;
    width: 505px;
    height: 475px;
    border: 7px solid #FFAF82;
    z-index: 1;
} */

.tagline {
    text-align: right;
}

.tagline-green span {
    color:#96B194;
}

.first-green-spacer {
    width: 100%;
    height: 114px;
    background-color: #96B194;
    padding: 0;
}


/* footer styles */
footer {
    padding: 0;
}

.footer-info {
    background-color: #96B194;
    display: flex;
    justify-content: space-between;
    padding: 80px 50px;
}

.footer-info > div {
    flex: 2;
    margin: 0 10px;
}

.footer-info ul, .footer-info ol, .footer-social-media li {
    list-style-type: none;
    padding-left: 0;
}

.creator {
    background-color: #FFAF82;
    max-height: 85px;
    padding: 50px 25px;
    text-align: center;
}

/* styles */